<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
			http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
   			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:bdlConfig.properties</value>
				<value>file:${catalina.home}/conf/bdlConfig.properties</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver" />
		<property name="url" value="${database.url}" />
		<property name="username" value="${database.username}" />
		<property name="password" value="${database.password}" />
		
		<!-- The initial number of connections that are created when the pool is started.  -->
		<property name="initialSize" value="${database.initialSize}" />
		<!-- The maximum number of active connections that can be allocated from this pool at the same time, or negative for no limit. -->
		<property name="maxActive" value="${database.maxActive}" />
		<!-- The maximum number of connections that can remain idle in the pool, without extra ones being released, or negative for no limit. -->
		<property name="maxIdle" value="${database.maxIdle}" />
		<!-- The minimum number of active connections that can remain idle in the pool, without extra ones being created, or 0 to create none. -->
		<property name="minIdle" value="${database.minIdle}" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />


	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="packagesToScan" value="it.lispa.bdl.commons.domain" />
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">validate</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">10</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.id.new_generator_mappings">true</prop>

				<prop key="hibernate.c3p0.min_size">5</prop>
				<prop key="hibernate.c3p0.max_size">20</prop>
				<prop key="hibernate.c3p0.timeout">300</prop>
				<prop key="hibernate.c3p0.max_statements">50</prop>
				<prop key="hibernate.c3p0.idle_test_period">3000</prop>
			</props>
		</property>
	</bean>
	
	<context:component-scan base-package="it.lispa.bdl" />
	
	<context:annotation-config />
	
	<jpa:repositories base-package="it.lispa.bdl.server.repository"
		entity-manager-factory-ref="emf" transaction-manager-ref="transactionManager" />

	<bean id="triggerListener" class="it.lispa.bdl.server.quartz.QuartzTriggerListener">
		<property name="name" value="myTriggerListener" />
	</bean>
    
    <bean id="myScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="autoStartup" value="true" />
        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />
		<property name="schedulerName" value="${bdlquartz.scheduler}"/> 
        <property name="quartzProperties">
			<props>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
			    <prop key="org.quartz.jobStore.driverDelegateClass">org.quartz.impl.jdbcjobstore.oracle.OracleDelegate</prop>
				<prop key="org.quartz.jobStore.misfireThreshold">5000</prop>
				<prop key="org.quartz.jobStore.class">org.quartz.impl.jdbcjobstore.JobStoreTX</prop>
				<prop key="org.quartz.jobStore.tablePrefix">BDL_QRTZ_</prop>
				<prop key="org.quartz.threadPool.class">org.quartz.simpl.SimpleThreadPool</prop>
				<prop key="org.quartz.threadPool.threadCount">1</prop>
				<prop key="org.quartz.threadPool.threadPriority">4</prop>
			</props>
		</property>
		<property name="applicationContextSchedulerContextKey" value="applicationContext"/>
	    <property name="globalTriggerListeners">
	        <list>
	        	<ref bean="triggerListener" />
	        </list>
	    </property>
    </bean>

	<!-- Configurazione Email -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mailsender.host}" />
        <property name="port" value="${mailsender.port}" />
        <property name="username" value="${mailsender.username}" />
        <property name="password" value="${mailsender.password}" />

        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mailsender.auth}</prop>
                <prop key="mail.smtp.starttls.enable">${mailsender.starttls.enable}</prop>
            </props>
        </property>
    </bean>

    <bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
    </bean>

    <bean id="emailSender" class="it.lispa.bdl.server.mail.EmailSender">
        <property name="mailSender" ref="mailSender" />
        <property name="simpleMailMessage" ref="simpleMailMessage" />
    </bean>
    
</beans>