<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	id="WebApp_ID" version="2.5">
  <display-name> Biblioteca Digitale Lombarda </display-name>
  <context-param>
    <param-name>maxSize</param-name>
    <param-value>3145728</param-value>
  </context-param>
  <context-param>
    <param-name>slowUploads</param-name>
    <param-value>0</param-value>
  </context-param>
  <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>file:${catalina.home}/conf/bdlLog4j.properties</param-value>
  </context-param>
  <filter>
    <filter-name>requestExternalFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestExternalFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestInternalFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestInternalFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestIntAmministratoreFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestIntAmministratoreFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestIntAmministratoreSupervisoreFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestIntAmministratoreSupervisoreFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestIntSupervisoreFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestIntSupervisoreFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestIntCatalogatoreFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestIntCatalogatoreFilter</filter-class>
  </filter>
  <filter>
    <filter-name>requestIntDigitalizzatoreFilter</filter-name>
    <filter-class>it.lispa.bdl.server.auth.RequestIntDigitalizzatoreFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>requestExternalFilter</filter-name>
    <url-pattern>/public/services/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestInternalFilter</filter-name>
    <url-pattern>/private/services/authService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestInternalFilter</filter-name>
    <url-pattern>/private/services/MenuService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestInternalFilter</filter-name>
    <url-pattern>/private/services/vOggettiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreFilter</filter-name>
    <url-pattern>/private/services/ammGestEntiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreFilter</filter-name>
    <url-pattern>/private/services/ammGestIndexService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreFilter</filter-name>
    <url-pattern>/private/services/ammGestUtentiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreFilter</filter-name>
    <url-pattern>/private/services/ammValidUtentiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntDigitalizzatoreFilter</filter-name>
    <url-pattern>/private/services/caricamentoImmaginiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntCatalogatoreFilter</filter-name>
    <url-pattern>/private/services/catalogazioneOggettiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntCatalogatoreFilter</filter-name>
    <url-pattern>/private/services/identOggettiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreSupervisoreFilter</filter-name>
    <url-pattern>/private/services/monitoraggioCronoService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntSupervisoreFilter</filter-name>
    <url-pattern>/private/services/validazioneOggettiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntSupervisoreFilter</filter-name>
    <url-pattern>/private/services/verificaOggettiService</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestInternalFilter</filter-name>
    <url-pattern>/private/media/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreSupervisoreFilter</filter-name>
    <url-pattern>/private/xls/monitoraggiolavorazione/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>requestIntAmministratoreSupervisoreFilter</filter-name>
    <url-pattern>/private/xls/monitoraggiocritici/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springGwtExternalServlet</servlet-name>
    <servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>springGwtInternalServlet</servlet-name>
    <servlet-class>org.spring4gwt.server.SpringGwtRemoteServiceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <servlet-class>gwtupload.server.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>monitoraggiolavorazioneserver</servlet-name>
    <servlet-class>it.lispa.bdl.server.servlet.MonitoraggioLavorazioneServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>monitoraggiocriticiserver</servlet-name>
    <servlet-class>it.lispa.bdl.server.servlet.MonitoraggioCriticiServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>catalogazionetplserver</servlet-name>
    <servlet-class>it.lispa.bdl.server.servlet.CatalogazioneTplServer</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bdl-json-rest-public</servlet-name>
    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>it.lispa.bdl.server.rest</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>isPublicURI</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>bdl-json-rest-private</servlet-name>
    <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>it.lispa.bdl.server.rest</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>isPublicURI</param-name>
      <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springGwtExternalServlet</servlet-name>
    <url-pattern>/public/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springGwtInternalServlet</servlet-name>
    <url-pattern>/private/services/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monitoraggiolavorazioneserver</servlet-name>
    <url-pattern>/private/xls/monitoraggiolavorazione/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>monitoraggiocriticiserver</servlet-name>
    <url-pattern>/private/xls/monitoraggiocritici/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>catalogazionetplserver</servlet-name>
    <url-pattern>/private/xls/catalogazionetpl/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bdl-json-rest-public</servlet-name>
    <url-pattern>/public/rest/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bdl-json-rest-private</servlet-name>
    <url-pattern>/private/rest/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Bdl.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>